@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-header {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

#main-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #f68e17;
}

#main-header nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#main-header a {
  text-decoration: none;
  color: #f68e17;
  padding: 0.25rem 0;
  border-bottom: 2px solid transparent;
}

#main-header a:hover,
#main-header a:active,
#main-header a.active {
  border-color: #f68e17;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #f68e17;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 90%;
  right: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 20px 23px 0px rgba(0, 0, 0, 0.14);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0 8px 8px;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.search-form {
  width: 90%;
  max-width: 80rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  border-radius: 8px;
}

#animals-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 3rem;
  width: 90%;
  margin: 3rem auto;
}

.animal-item {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.animal-item img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.animal-item div {
  padding: 0 1rem;
}

.about-us-card {
  width: 90%;
  margin: 2rem auto;
  background-color: #f7e7d4;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  border-radius: 8px;
}

.button {
  background-color: #f68e17;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  text-wrap: nowrap;
}

.button:hover,
.button:active {
  background-color: #ffac68;
}

.button:focus-visible {
  outline: none;
}

.modal {
  width: 90%;
  max-width: 35rem;
  border-radius: 8px;
  border: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal h2 {
  color: #f68e17;
}

.modal > div {
  display: flex;
  gap: 1rem;
}

.control {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #f68e17;
  text-transform: uppercase;
}

.control input {
  width: 100%;
  max-width: 35rem;
  font: inherit;
  font-size: 1.25rem;
  border: 1px solid #d3cedc;
  border-radius: 4px;
  padding: 0.5rem;
}

.control input:focus-visible {
  outline: none;
  border-color: #f68e17;
}

.chip {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  color: #f68e17;
  user-select: none;
  transition: background-color 0.3s;
  margin: 0 5px;
  border: 1px solid #f68e17;
}

.selected {
  background-color: #f68e17;
  color: white;
}

@media screen and (max-width: 768px) {
  #main-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #main-header nav ul {
    align-items: stretch;
    gap: 0.5rem;
    flex-direction: column;
  }
  .search-form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .modal > div {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .modal > div > img {
    width: 100%;
    object-fit: cover;
    height: 12rem;
}

  .chip {
    padding: 10px;
  }
}
